In [6]:
#importar libreria para manipulacion de datos
import pandas as pd

In [8]:
df_ventas = pd.read_csv("C:/Users/ybueno/Downloads/example_ventas (1).csv", delimiter=";")

In [10]:
#mostrar las primeras filas del dataframe 
df_ventas.head(5)

        Fecha   Region      Producto Vendedor  Ventas
0  31/01/2024  Central    Accesorios    David   8.287
1   1/02/2024  Central    Accesorios    Karen   6.909
2   2/02/2024  Central  Dispositivos    David  11.420
3   3/02/2024  Central  Dispositivos    Karen  12.948
4   4/02/2024  Central      Sistemas    David  20.098

In [14]:
#Calcular el total de ventas por región 
print ("Ejercicio 2: Calcular el total de ventas por región")
ventas_por_region= df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_ventas.head(10))

Ejercicio 2: Calcular el total de ventas por región
Region
Central    90.295
Este       63.555
Oeste      85.683
Name: Ventas, dtype: float64


        Fecha   Region      Producto Vendedor  Ventas
0  31/01/2024  Central    Accesorios    David   8.287
1   1/02/2024  Central    Accesorios    Karen   6.909
2   2/02/2024  Central  Dispositivos    David  11.420
3   3/02/2024  Central  Dispositivos    Karen  12.948
4   4/02/2024  Central      Sistemas    David  20.098
5   5/02/2024  Central      Sistemas    Karen  30.633
6   6/02/2024     Este    Accesorios      Ana   9.323
7   7/02/2024     Este    Accesorios    Lucas   7.667
8   8/02/2024     Este  Dispositivos      Ana  10.348
9   9/02/2024     Este  Dispositivos    Lucas   9.312

In [18]:
#Ejercicio 3: Filtrar el dataframe para mostrar solo las ventas realizadas por David 
print("Ejercicio 3: Filtrar el Dataframe para mostrar ventas de David")
ventas_david=df_ventas[df_ventas['Vendedor']=='David']
print(ventas_david)

Ejercicio 3: Filtrar el Dataframe para mostrar ventas de David
        Fecha   Region      Producto Vendedor  Ventas
0  31/01/2024  Central    Accesorios    David   8.287
2   2/02/2024  Central  Dispositivos    David  11.420
4   4/02/2024  Central      Sistemas    David  20.098

In [22]:
#Ejercicio 4: Calcular el promedio de ventas por region 
print("Ejercicio4: Calcular el promedio de ventas por region")
ventas_por_producto=df_ventas.groupby('Region')['Ventas'].mean()
print(ventas_por_producto)

Ejercicio4: Calcular el promedio de ventas por region
Region
Central    15.049167
Este       10.592500
Oeste      14.280500
Name: Ventas, dtype: float64

In [26]:
#Ejercicio 5: Calcular prom de ventas por region con dos decimales
print("Ejercicio5: Calcular el promedio de ventas por region con dos decimales")
ventas_por_producto=df_ventas.groupby('Region')['Ventas'].mean().round(2)
print(ventas_por_producto)

Ejercicio5: Calcular el promedio de ventas por region con dos decimales
Region
Central    15.05
Este       10.59
Oeste      14.28
Name: Ventas, dtype: float64

In [35]:
#Ejercicio 6: Ordenar el dataframe por ventas en orden descendente 
print("Ejercicio 6: Ordenar el Dataframe por ventas en orden descendente")
df_ordenado=df_ventas.sort_values(by='Ventas',ascending=False)
print(df_ordenado)

Ejercicio 6: Ordenar el Dataframe por ventas en orden descendente
         Fecha   Region      Producto Vendedor  Ventas
16  16/02/2024    Oeste      Sistemas    Kevin  32.855
5    5/02/2024  Central      Sistemas    Karen  30.633
17  17/02/2024    Oeste      Sistemas     Sara  23.151
4    4/02/2024  Central      Sistemas    David  20.098
10  10/02/2024     Este      Sistemas      Ana  13.531
11  11/02/2024     Este      Sistemas    Lucas  13.374
3    3/02/2024  Central  Dispositivos    Karen  12.948
2    2/02/2024  Central  Dispositivos    David  11.420
14  14/02/2024    Oeste  Dispositivos    Kevin  10.711
8    8/02/2024     Este  Dispositivos      Ana  10.348
6    6/02/2024     Este    Accesorios      Ana   9.323
9    9/02/2024     Este  Dispositivos    Lucas   9.312
15  15/02/2024    Oeste  Dispositivos     Sara   8.780
0   31/01/2024  Central    Accesorios    David   8.287
7    7/02/2024     Este    Accesorios    Lucas   7.667
1    1/02/2024  Central    Accesorios    Karen   6.909
13  13/02/2024    Oeste    Accesorios     Sara   5.442
12  12/02/2024    Oeste    Accesorios    Kevin   4.744

In [46]:
#Ejercicio7:Filtrar ventas mayores a 10000 y ordenar de mayor a menor 
print("Ejercicio7: Filtrar filas con ventas mayores a 10000")
df_filtrado=df_ventas[df_ventas['Ventas']>1000].sort_values(by='Ventas', ascending=True)
print(df_filtrado)
print("\n")

Ejercicio7: Filtrar filas con ventas mayores a 10000
Empty DataFrame
Columns: [Fecha, Region, Producto, Vendedor, Ventas]
Index: []

In [50]:
print("Ejercicio9:Eliminar la columna 'Vendedor'")
df_sin_vendedor=df_ventas.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

Ejercicio9:Eliminar la columna 'Vendedor'
         Fecha   Region      Producto  Ventas
0   31/01/2024  Central    Accesorios   8.287
1    1/02/2024  Central    Accesorios   6.909
2    2/02/2024  Central  Dispositivos  11.420
3    3/02/2024  Central  Dispositivos  12.948
4    4/02/2024  Central      Sistemas  20.098
5    5/02/2024  Central      Sistemas  30.633
6    6/02/2024     Este    Accesorios   9.323
7    7/02/2024     Este    Accesorios   7.667
8    8/02/2024     Este  Dispositivos  10.348
9    9/02/2024     Este  Dispositivos   9.312
10  10/02/2024     Este      Sistemas  13.531
11  11/02/2024     Este      Sistemas  13.374
12  12/02/2024    Oeste    Accesorios   4.744
13  13/02/2024    Oeste    Accesorios   5.442
14  14/02/2024    Oeste  Dispositivos  10.711
15  15/02/2024    Oeste  Dispositivos   8.780
16  16/02/2024    Oeste      Sistemas  32.855
17  17/02/2024    Oeste      Sistemas  23.151